<!-- Carousel Start -->

<div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class=" active">
            <img class="w-100" src="../../../assets/img/portada/portada-casa_jodie.png"  alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">

                    <h1 class="display-3 text-white mb-4 animated slideInDown">Casa Jodie</h1>
                    <a href="#apartments-section" class="btn btn-primary py-md-3 px-md-5 me-3">
                        Apartamentos
                    </a>
                    <a routerLink="/booking" class="btn btn-light py-md-3 px-md-5 animated slideInRight">
                        Reserva ya
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carousel End -->


<!-- About Start -->
<div #aboutSection class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">Sobre nosotros</h6>
                <h1 class="mb-4">Bienvenidos a <span class="text-primary text-uppercase">Casa Jodie</span></h1>
                <p class="mb-4">Casa Jodie, un magnífico refugio campestre restaurado, que atrapa la esencia encantadora
                    de las cabañas rústicas con todas las comodidades modernas. <br>Ubicada en Valhalla Peak, un
                    encantador
                    pueblo anclado en el valle de Lucentia, en la pintoresca región de Montecielo. A pesar de su pequeña
                    población, conformada por solo 97 habitantes, se alza orgullosa a 1412 metros sobre el nivel del
                    mar.
                </p>
                <div class="row g-3 pb-4">
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-hotel fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">4</h2>
                                <p class="mb-0">Apartamentos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-solid fa-route fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">+30</h2>
                                <p class="mb-0">Rutas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="2s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-solid fa-bicycle fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">+10</h2>
                                <p class="mb-0">Deportes</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s"
                            src="../../../assets/img/portada/vistas4.png" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s"
                            src="../../../assets/img/portada/vistas2.png">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s"
                            src="../../../assets/img/portada/vistas1.png">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s"
                            src="../../../assets/img/portada/vistas0.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<section id="apartments-section">
    <app-apartments></app-apartments>
</section>


<!-- Video Start -->
<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Sobrevuela Valhalla Peak</h6>
                <h1 class="text-white mb-4">Valhalla Peak desde el aire</h1>
                <p class="text-white mb-4">
                    Sumérgete en la enigmática danza de las majestuosas montañas que abrazan Valhalla Peak, con sus
                    picos que desafían el cielo y sus valles vestidos de esmeralda. Contempla la armonía y la serenidad
                    que fluyen de este rincón natural, donde la paz se entrelaza con la grandiosidad de la tierra.
                    <br><br>
                    En este viaje, también tendrás la oportunidad de maravillarte ante el santuario de "San Eupelio de
                    Valhalla". Este tesoro arquitectónico, enraizado en siglos de leyenda, se alza con orgullo en medio
                    de la panorámica, regalando una vista impresionante desde cualquier perspectiva. Su estilo único y
                    su encanto rústico te transportarán a un capítulo olvidado de la historia.
                    <br><br>
                    Sin importar si estás en busca de una escapada romántica, unas vacaciones familiares o una aventura
                    en pleno aire libre, Valhalla Peak es el rincón ideal para deleitarte con la naturaleza en su apogeo
                    más sublime. Ven y descubre el Valle de Esmeralda y sus secretos ocultos, y déjate envolver por la
                    hechicería que emana de Valhalla Peak.
                </p>

            </div>
        </div>
        <div class="col-md-6">
            <div class="video" style="width: 100%; max-width: 100%; overflow: hidden;">
                    <video style="max-height: 100%;">
                        <source src="../../../assets/img/portada/valhallapeak-fly.mp4" type="video/mp4">
                    </video>
                <button type="button" class="btn-play" data-bs-toggle="modal"
                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VIDEO Valhalla Peak DESDE EL AIRE -->

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Valhalla Peak desde el aire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <video loop autoplay controls>
                        <source src="../../../assets/img/portada/valhallapeak-fly.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video End -->

<section id="todo-section">
    <app-todo></app-todo>
</section>


<!-- Testimonial Start -->
<div class="container-xxl testimonial bg-dark wow zoomIn" style="margin-bottom: 130px;" data-wow-delay="0.1s">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    En Serenidad Alpina encontré paz celestial. Las vistas de Valhalla Peak me transportaron a un mundo
                    mágico. Regresaré. 🤗
                </p>
                <div class="d-flex align-items-center">

                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Elena M.</h6>
                        <small>⭐⭐⭐⭐⭐</small>
                    </div>
                </div>
                <i class="fa fa-quote-right pb-3 fa-2x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Vista Esmeralda es un refugio perfecto, desborda naturaleza y serenidad.<br>
                    Una experiencia totalmente recomendable.
                </p>
                <div class="d-flex align-items-center">

                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Luis</h6>
                        <small>⭐⭐⭐⭐⭐</small>
                    </div>
                </div>
                <i class="fa fa-quote-right pb-3 fa-2x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Refugio Cielo Estrellado, donde cada noche es un espectáculo. Camino de las Joyas es un regalo para
                    el alma.
                </p>
                <div class="d-flex align-items-center">

                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Isabel</h6>
                        <small>⭐⭐⭐⭐⭐</small>
                    </div>
                </div>
                <i class="fa fa-quote-right pb-3 fa-2x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Parque Éterdorado, una experiencia asombrosa. Naturaleza y magia se fusionan en un solo lugar.
                </p>
                <div class="d-flex align-items-center">

                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Andrés</h6>
                        <small>⭐⭐⭐⭐⭐</small>
                    </div>
                </div>
                <i class="fa fa-quote-right pb-3 fa-2x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    Valhalla Glaciarescape, una aventura en el corazón de Valle de Auros.
                    Sin duda repetiremos cuando podamos.
                </p>
                <div class="d-flex align-items-center">

                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Carlos</h6>
                        <small>⭐⭐⭐⭐⭐</small>
                    </div>
                </div>
                <i class="fa fa-quote-right pb-3 fa-2x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>
                    La ubicación, la limpieza, el trato... Todo inmejorable!! Volveré mil veces ya que me
                    parece todo idílico... Casa Jodie 🔝🔝

                </p>
                <div class="d-flex align-items-center">

                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Laura</h6>
                        <small>⭐⭐⭐⭐⭐</small>
                    </div>
                </div>
                <i class="fa fa-quote-right pb-3 fa-2x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->







<!-- AQUI DEBO METER EL COMPONENTE FOOTER -->