<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">El Valle de Auros</h6>
            <h1 class="mb-5">Qué hacer cerca de <span class="text-primary text-uppercase">Valhalla Peak</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Valhalla Peak</h5>
                    <p class="text-body mb-0">Elevándose majestuosamente a 1.412 metros sobre el nivel del mar, se
                        encuentra la imponente Sierra de Plataluna.<br>
                        En su área convergen las aguas del río Valhalla Peak, un afluente vital del Noguera de Tor, y el
                        arroyo Barranco Cortina, añadiendo vida y frescura al entorno.<br>
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-mountain fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Valle de Auros</h5>
                    <p class="text-body mb-0">Un rincón mágico se abre ante nosotros. <br>
                        Este enclave se encuentra anidado en la comarca de Las Alturas Élficas, enmarcado por la
                        provincia de Luminastra.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-church fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Camino de las Joyas</h5>
                    <p class="text-body mb-0">El Valle de Auros, ubicado al noroeste de la provincia de Luminastra,
                        resguarda en su seno un tesoro de inmenso valor.<br>
                        En el año 1997, la UNESCO honró con el título de Patrimonio Mundial de la Humanidad a nueve de
                        estos sagrados santuarios.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-water fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Parque Éterdorado de Valhalla y Espejo de Sylveria</h5>
                    <p class="text-body mb-0">Ubicado en el núcleo de las Colinas Celestiales, junto a los parques de
                        Éxtasis Aural y Cumbre Nebulosa, forma un asombroso mosaico de los ecosistemas predominantes en
                        las elevadas tierras de Valhalla Peak.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-snowflake fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Valhalla FrostHaven</h5>
                    <p class="text-body mb-0">Un rincón de maravillas invernales, donde el tiempo parece detenerse y la
                        emoción se despierta. Valhalla FrostHaven es un oasis de diversión inigualable cerca de Valhalla
                        Peak, donde los amantes de los deportes de invierno encuentran su paraíso.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-spa fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Valhalla Hotspringheim</h5>
                    <p class="text-body mb-0">Un refugio de serenidad y revitalización.<br>
                        Valhalla Hotspringheim te
                        invita a sumergirte en un mundo de relajación y bienestar, donde las termas naturales y los
                        tratamientos rejuvenecedores te acogen en un abrazo cálido.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->