/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';

#calendar {
  flex: 1;
  width: calc(50% - 20px);
}

.fc-scroller{
  overflow: hidden !important;
}

/* para no ocupar completamente el dia de salida
.fc-event-container{
  padding-right: 45px !important;
} */

.text-primary{
  color: #FEA116 !important;
}

.bg-primary{
background-color: #FEA116 !important;
}

.fc-button-primary{
  background-color: #FEA116 ;
}

.fc-button-primary:hover{
  background-color: #fdab31 ;
}

.fc-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fc-header-toolbar{
  font-size:15px ;
}

.fc-view-container{
  font-size: small;
}

.fc-day-grid-event .fc-time {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 768px) {

  .fc-header-toolbar{
    font-size:10px ;
  }
  
  .fc-view-container{
    font-size: 8px;
  }

}