<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div style="text-align: center;" class="bg-primary rounded  p-4">
                    <a href="index.html" style="text-decoration: none !important;">
                        <h1 class="text-white text-uppercase">Casa Jodie</h1>
                    </a>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contacto</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Calle Heimdall, 28 <br> 02828
                    Valhalla Peak, Luminastra</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>000000000</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>marc.projects28@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://mmorales87.github.io/portfolio/"
                        target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://mmorales87.github.io/portfolio/"
                        target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/@rebblime6056"
                        target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/marc-mg/"
                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row" style="margin: 20px;">
                    <div data-aos="zoom-in-right">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26604.073969327175!2d-14.039358531552619!3d65.25693059096491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1692018053641!5m2!1ses!2ses"
                            width="500" height="300" style="border:0; border-radius: 20px; max-width: 100%;"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://mmorales87.github.io/portfolio/">Marc Morales
                        Garcia</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">

                        <a href="https://www.linkedin.com/in/marc-mg/">Contacto</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->